{% load static %}
{% autoescape off %}
    <strong><span style="color: red;">Congratulations, {{ email }}!</span></strong>
    <br>
    You have attempted to register as a Resident Assistant in {{ floor }}.
    <br>
    Here is the activation code you may distribute to your residents: <strong>{{ activation_code }}</strong>
    <br>
    Please head to the following links to fill out your student information card.
    <br>
    http://{{ domain }}{% url 'informationcards:activate' uidb64=uidb64 token=token %}
    <br>
    http://{{ domain }}{% url 'securityquestions:answers' uidb64=uidb64 token=token %}
{% endautoescape %}