{% load static %}
<div id="everything">
    <div id="entry_div" data-guestlog-pk="{{ guestlog.pk }}"
         data-create-entry-url="{% url 'desklogs:ajax-create-blank-guestlog-entry' %}"
         data-update-entry-url="{% url 'desklogs:ajax-update-guestlog-entry' %}"
         data-checkout-entry-url="{% url 'desklogs:ajax-checkout-guestlog-entry' %}">
        {% if guestlog_entries %}
            <table id="entries">
                <tr>
                    <th>Status</th>
                    <th>Time In</th>
                    <th>Date In</th>
                    <th>Host Name</th>
                    <th>Guest Name</th>
                    <th>Time Out</th>
                    <th>Date Out</th>
                    <th>Submission</th>
                </tr>
                {% for entry in guestlog_entries %}
                    <tr>
                        <td class="status"
                            bgcolor="{% if entry.guest_checked_in %}red{% else %}green{% endif %}"></td>
                        <td><input type="text" class="form-control time_in"
                                   value="{% if entry.time_in %}{{ entry.time_in }}{% endif %}" disabled></td>
                        <td><input type="text" class="form-control date_in"
                                   value="{% if entry.date_in %}{{ entry.date_in }}{% endif %}" disabled></td>
                        <td><input type="text" class="form-control host_name"
                                   value="{% if entry.host_name %}{{ entry.host_name }}{% endif %}"
                                   {% if not entry.guest_checked_in or entry.completed %}disabled{% endif %}>
                        </td>
                        <td><input type="text" class="form-control guest_name"
                                   value="{% if entry.guest_name %}{{ entry.guest_name }}{% endif %}"
                                   {% if not entry.guest_checked_in or entry.completed %}disabled{% endif %}>
                        </td>
                        <td><input type="text" class="form-control time_out"
                                   value="{% if entry.time_out %}{{ entry.time_out }}{% endif %}" disabled></td>
                        <td><input type="text" class="form-control date_out"
                                   value="{% if entry.date_out %}{{ entry.date_out }}{% endif %}" disabled></td>
                        <td>
                            {% if entry.host_name and entry.guest_name and entry.guest_checked_in %}
                                <a href="#" class="btn btn-danger checkout"
                                   data-obj-pk="{{ entry.pk }}">Checkout</a>
                            {% elif entry.guest_checked_in and not entry.host_name and not entry.guest_name %}
                                <a href="#" class="btn btn-success checkin"
                                   data-obj-pk="{{ entry.pk }}">Checkin</a>
                            {% else %}
                                <a href="#" class="btn btn-secondary completed">Completed</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <script>
                Swal.fire(
                    'No Guest Log Entries Found',
                    '',
                    'question'
                )
            </script>
        {% endif %}
    </div>
    <div class="form-row" id="filter">
        <div class="form-group col-md-10">
            <input id="filter_search" type="text" class="form-control" placeholder="Search">
        </div>
        <div class="form-group col-md-2" id="search_button_div">
            <a href="#" id="search_button" class="btn btn-warning"
               data-filter-entries="{% url 'desklogs:ajax-filter-guestlog-entries' %}">Filter</a>
        </div>
    </div>
    <div id="create_entry_button_div">
        {% if disable_creation %}
            <a href="#" class="btn btn-secondary" id="disabled_creation">Create New Guest Log Entry</a>
        {% else %}
            <a href="#" class="btn btn-success" id="create_entry_button">Create New Guest Log Entry</a>
        {% endif %}
    </div>
</div>
<script src="{% static 'desklogs/js/create_guestlog_entry.js' %}"></script>
<script src="{% static 'desklogs/js/disable_enter_button_submission.js' %}"></script>
<script src="{% static 'desklogs/js/check_in_guestlog_entry.js' %}"></script>
<script src="{% static 'desklogs/js/check_out_guestlog_entry.js' %}"></script>
<script src="{% static 'desklogs/js/filter_guestlog.js' %}"></script>

