{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load aufwiedersehen %}
{% block title %}<title>Information Card Part One</title>{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'informationcards/css/studentinformationcardpartone_form.css' %}">
    <form action="" method="POST" id="student_info_card_form">
        {% csrf_token %}
        <div class="container">
            <div id="id_student_info_card_jumbotron" class="jumbotron vertical-center">
                <h3>Student Information Card Page 1 of 3</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_date_of_birth">Date of Birth</label>
                        {{ form.date_of_birth }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_cell_phone_number">Phone Number</label>
                        {{ form.cell_phone_number }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="id_home_street_address">Street</label>
                        {{ form.home_street_address }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_home_city">City</label>
                        {{ form.home_city }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_home_state">State</label>
                        {{ form.home_state }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_zip_code">Zip Code</label>
                        {{ form.zip_code }}
                    </div>
                </div>
                {% if form.errors %}
                    <div class="alert alert-error">
                        <p class="mandatory" id="error_message">The operation could not be performed because the
                            following
                            error(s) occurred. Please resubmit the form after making the following changes:</p>
                        <ul>
                            {% for field,error in form.errors.items %}
                                {% if field != '__all__' %}
                                    {{ field|title|cut:"_" }} - {{ error|striptags }}
                                {% else %}
                                    {{ error|striptags }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <button type="submit" class="option btn btn-success">Next</button>
            </div>
        </div>
    </form>
{% endblock %}