#reset_div {
    margin-top: 22%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#id_form_submit {
    margin-top: 10px;
    width: 100%;
    color: white;
    border: solid black;
}

#id_form_submit:hover {
    border: solid white;
}

label {
    color: white;
}

p {
    text-align: center;
    color: white;
    margin-bottom: 0;
}