{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        let timerInterval;
        Swal.fire({
            title: 'You do not have permission to view this page.',
            html: 'I will close in <strong></strong> seconds.',
            timer: 2000,
            onBeforeOpen: () => {
                Swal.showLoading();
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            if (
                result.dismiss === Swal.DismissReason.timer
            ) {
                window.location = '{% url 'accounts:login' %}';
            }
        })
    </script>
{% endblock %}