{% load static %}
<html lang="">
<head>
    <script src="{% static 'js/jQuery_3_3_1_min.js' %}"></script>
    {% include 'session_security/all.html' %}
    <link rel="stylesheet" href="{% static 'css/bootstrap_4_1_3_min.css' %}">
    <script src="{% static 'js/cloudflare_ajax_popper_min.js' %}"></script>
    <script src="{% static 'js/bootstrap_4_1_3_min.js' %}"></script>
    <meta charset="UTF-8">
    <script src="{% static 'js/sweetalert.js' %}"></script>
    {% block title %} <title>Home</title> {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
</head>
{% block embedded_styles_block %}
    <style>
        .intro .inner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            max-width: none;
            background-attachment: fixed;
        }

        @media (min-width: 885px) {
            .inner {
                z-index: -1;
                background: url('{% static 'img/cnu_great_lawn_small.png' %}') no-repeat 50% 50%;
            }
        }

        @media (max-width: 1348px) {
            .inner {
                z-index: -1;
                background: url('{% static 'img/cnu_great_lawn_large.png' %}') no-repeat 50% 50%;
            }
        }
    </style>
{% endblock %}
<!-- This is the start of the navigation bar at the top of the page-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">RA Toolbox</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    {% if user.is_resident_assistant %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:student-roster' pk=user.pk %}">Student
                                Roster</a>
                        </li>
                    {% elif user.is_hall_director %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:ra-roster' %}">RA Roster</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:university-roster' %}">Student Roster</a>
                        </li>
                    {% elif user.is_desk_account %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:guest-log' %}">Guest Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:equipment-log' %}">Equipment Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:lockout-log' %}">Lockout Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:passdown-log' %}">Pass Down Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'desklogs:university-roster' %}">Student Roster</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_student or user.is_resident_assistant %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.email }}
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="{% url 'securityquestions:question-responses' pk=user.securityquestions.pk %}">Security
                                    Questions</a>
                                <a class="dropdown-item"
                                   href="{% url 'informationcards:overview' pk=user.studentinformationcard.pk %}">Information
                                    Card</a>
                                <a class="dropdown-item" href="#">Personal Profile</a>
                            </div>
                        </li>
                    {% elif student.is_hall_director %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ user.email }}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'accounts:ra-or-student' %}">Signup</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<body>
<div class="intro">
    <div class="inner">
        {% if messages %}
            <div class="container" style="text-align: center">
                {% for message in messages %}
                    {% if message.level == 25 %}
                        <script>
                            Swal.fire({
                                position: 'top-end',
                                type: 'success',
                                title: '{{ message }}',
                                showConfirmButton: true,
                                timer: 2500
                            })
                        </script>
                    {% elif message.level == 40 %}
                        <script>
                            Swal.fire({
                                position: 'top-end',
                                type: 'error',
                                title: '{{ message }}',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        </script>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        {% endif %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block info %}{% endblock %}
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>Get started</h5>
                <ul>
                    <li><a target="_blank" href="#">Home</a></li>
                    <li><a target="_blank" href="{% url 'accounts:ra-or-student' %}">Sign up</a></li>
                    <li><a target="_blank" href="http://cnu.edu/">Visit us</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>About us</h5>
                <ul>
                    <li><a target="_blank" href="http://cnu.edu/life/housing/">Company Information</a></li>
                    <li><a target="_blank" href="http://cnu.edu/life/housing/people/">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Support</h5>
                <ul>
                    <li><a target="_blank" href="http://cnu.edu/life/housing/faq/">FAQ</a></li>
                    <li><a target="_blank" href="http://cnu.edu/captainscard/">Help desk</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Legal</h5>
                <ul>
                    <li><a target="_blank" href="http://cnu.edu/public/studenthandbook/_pdf/studenthandbook.pdf">Student
                        Handbook</a></li>
                    <li>
                        <a target="_blank" href="http://cnu.edu/public/policies/policy/its-information-technology-policies/
                        cnu-policy-6010_acceptable_use_of_computing_resources_policy.pdf">Terms of Use</a></li>
                    <li><a target="_blank" href="http://cnu.edu/public/privacy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <p>RA Toolbox was Developed by
            <a class="footer_a" target="_blank" href="https://github.com/Suttonium">Raymond
                Sutton</a>&nbsp;<span class="vl">|</span>&nbsp;Background Photograph Taken by
            <a class="footer_a" target="_blank" href="https://www.instagram.com/simply._.eddie/">Eddie
                Sonnie</a>&nbsp;<span class="vl">|</span>&nbsp;Created for the
            <a class="footer_a" target="_blank" href="http://cnu.edu/life/housing/">CNU Residence Life Department</a>
        </p>
    </div>
</footer>
</body>
</html>