{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block info %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <a id="info_btn" href="#info" class="btn btn-warning">More Information</a>
    <div id="info">
        <p>
            RA Toolbox is designed to simplify the lives of Hall Directors, Resident Assistants, and Students
            simultaneously. Hall Directors will be able to view their RA Roster along with their RA's individual
            rosters. RAs will be able to view their rosters and the associated student trackers they must monitor
            throughout the semester. Front Desk Assistants will be able to utilize the newly designed Guestlog in order
            to simplify the check in and check out portions of the position. Every Student will be able to view and
            update their Student Information Cards allowing them to be in full control of their personal information.
        </p>
    </div>
{% endblock %}