{% load static %}
<link rel="stylesheet" href="{% static 'trackers/css/catch_up_response.css' %}">
<div id="everything">
    <div class="form-row">
        <div class="form-group col-md-12" id="div_one">
            <label for="cu_one"></label>
            <textarea data-cu-one="{{ current_tracker.catch_up_one_information }}" name="" rows="5"
                      class="form-control" id="cu_one" disabled></textarea>
            <a href="#" class="btn btn-primary cu_button" id="submit_button_one"
               data-submit-catch-up="{% url 'trackers:ajax-submit-catch-up' %}">Update Catch Up</a>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12" id="div_two">
            <label for="cu_two"></label>
            <textarea data-cu-two="{{ current_tracker.catch_up_two_information }}" name="" rows="5"
                      class="form-control" id="cu_two" disabled></textarea>
            <a href="#" class="btn btn-primary cu_button" id="submit_button_two"
               data-submit-catch-up="{% url 'trackers:ajax-submit-catch-up' %}">Update Catch Up</a>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12" id="div_three">
            <label for="cu_three"></label>
            <textarea data-cu-three="{{ current_tracker.catch_up_three_information }}" name="" rows="5"
                      class="form-control" id="cu_three" disabled></textarea>
            <a href="#" class="btn btn-primary cu_button" id="submit_button_three"
               data-submit-catch-up="{% url 'trackers:ajax-submit-catch-up' %}">Update Catch Up</a>
        </div>
    </div>
</div>
