{% load static %}
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="current_general_info">General Information</label>
        <textarea data-current-general-information="{{ current_tracker.general_information }}"
                  class="form-control"
                  id="current_general_info" rows="10"
                  disabled></textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <a href="#" class="btn btn-primary kat_button" id="update_gen_info">Update General Information</a>
        <a href="#" class="btn btn-success kat_button" id="submit_gen_info" hidden
           data-submit-general-information="{% url 'trackers:ajax-submit-general-information' %}">Submit General
            Information</a>
    </div>
</div>
{#<script src="{% static 'trackers/js/general_information_ajax.js' %}"></script>#}
