#entries {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#entries td, #entries th {
    border: 1px solid #DDD;
    padding: 8px;
}

#entries tr:nth-child(even) {
    background-color: #F2F2F2;
}

#entries tr:nth-child(even):hover {
    background-color: #DDD;
}

#entries tr:nth-child(odd) {
    background-color: #F2F2F2
}

#entries tr:nth-child(odd):hover {
    background-color: #DDD;
}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #428BCA;
    color: white;
}

#no_entries {
    color: white;
}