#entries {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1300px;
    margin: 0 auto;
}

#entry_div {
    width: 100%;
    margin: 0 auto 150px;
    top: 0;
    height: 650px;
    overflow-y: auto;
}

#entries td, #entries th {
    border: 1px solid #DDD;
    padding: 8px;
}

#entries tr:nth-child(even) {
    background-color: #F2F2F2;
}

#entries tr:nth-child(even):hover {
    background-color: #DDD;
}

#entries tr:nth-child(odd) {
    background-color: #F2F2F2
}

#entries tr:nth-child(odd):hover {
    background-color: #DDD;
}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #428BCA;
    color: white;
}

#no_entries {
    color: white;
}

/*#create_entry_button_div {*/
/*!*position: absolute;*!*/
/*position: sticky;*/
/*position: -webkit-sticky;*/
/*bottom: 0;*/
/*margin-left: auto;*/
/*}*/

/*#create_entry_button {*/
/*width: 1300px;*/
/*color: white;*/
/*border: solid black;*/
/*}*/

#filter {
    width: 90%;
    position: absolute;
    bottom: 50px;
    margin: auto;
}

#filter_search {
    margin-left: 70px;
}

#search_button {
    padding-top: 2px;
    padding-bottom: 1px;
    border-color: black;
    color: white;
    margin-left: 75px;
    width: 100%;
}

#search_button_div {
    margin-left: 0;
}

.security_questions {
    color: white;
    font-size: 15px;
    width: 100%;
    border-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

