#students {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1000px;
    margin: 200px auto 0;
}

#students td, #students th {
    border: 1px solid #DDD;
    padding: 8px;
}

#students tr:nth-child(even) {
    background-color: #F2F2F2;
}

#students tr:nth-child(even):hover {
    background-color: #DDD;
}

#students tr:nth-child(odd) {
    background-color: #F2F2F2
}

#students tr:nth-child(odd):hover {
    background-color: #DDD;
}

#students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #428BCA;
    color: white;
}

.hallway_button {
    color: white;
    font-size: 15px;
    width: 100%;
    border-color: black;
}

#no_residents {
    color: white;
}