#login_div {
    margin-top: 300px;
}

#id_form_submit {
    width: 1000px;
    color: white;
    border: solid black;
}

#id_form_submit:hover {
    border: solid white;
}

label {
    color: white;
}

#login_username {
    width: 485px;
    margin: 0 auto 0 225px;
}

#login_password {
    width: 485px;
    margin: 0 auto 0 5px;
}